.main-container, footer {
    margin: 0 auto;
    width: 20rem;
    margin-top: 2rem;
}

.layer-calculator {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.btn-xs {
    padding: 10px;
    text-align: center;
    margin: 5px;
    width: 3.5rem;
}

#calculator-results {
    padding: 10px;
    width: 18rem;
    margin: 5px;
    border: none;
    text-align: right;
}

.on,.off {
    border: 2px solid rgba(0,0,0,.4);
}

.page-header {
    font-weight: bolder;
}


footer {
    margin-top: 1rem;
    text-align: center;
}

footer a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    text-decoration: none;
    color: antiquewhite;
}